header{
    position: absolute;
    z-index: 1;
    width: 100%
}
h1 { 
    position: absolute; 
    color: white;
    font-family: 'Coustard', serif;    
    left: 5%;
 }
img{
    width: 20%;
    right: 0px;
    margin-left: 80%;
}
 .headerMode{
    background-color: #1b252f;
    position: fixed;
    height: 10%;
 }

 .headerTitleMode{
    font-size:5vh;
    color: white;
 }