<article>
  <h2>About Me</h2>
  <div class="contentSlide">
    <h2>Yan Matagne</h2>
    <h3>Developer at norsys</h3>
    <img class="norsys" src='/assets/norsys.png'>

    <div class="footerSlide">
      <div class="imageWithText">
        <img class="github" src='/assets/github.png'>
        <p> https://github.com/ymatagne</p>
      </div>
      <div class="imageWithText">
        <img class="twitter" src='/assets/twitter.png'>
        <p> @YMATAGNE</p>
      </div>
    </div>
  </div>

</article>
<img class="cosmonaut" src='/assets/cosmonaut.png'>